.card{
  width: 75%;

  border-radius: 12px;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items:center;
}

@media only screen and (max-width: 1024px) {
  .card{
    padding-top: 20px;
    width: 90%;

    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}