.input-form{
  height: 50px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.ip-input{
  padding-left: 20px;
  width: 100%;

  border-radius: 12px 0 0 12px;
  border-color: white;
  border:none;
  outline: none;
}

.submit-button{
  width: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 0 12px 12px 0;
  background-color: black;
}

.submit-button:hover{
  background-color: hsl(0, 0%, 17%);
}

@media only screen and (max-width: 1024px) {
  .input-form{
    width: 90%;  
  }
  .ip-input{
    font-size: 10px;
  }
}