.output-container {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output-container>* {
  padding: 0;
}

.category {
  color: hsl(0, 0%, 59%);
  margin: 20 0 20px 0;
  font-size: 14px;
}

.value {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .output-container{
    height: fit-content;
    width: 90%;
  }

  .category{
    margin: 0;
    font-size: 10px;
  }
  .value{
    margin-bottom: 20px;
    font-size: 18px;
  }
}